/* CSS files add styling rules to your content */
/* Color Palette from https://mybrandnewlogo.com/color-palette-generator
.color1 {color: #1769a2;}
.color2 {color: #1a8ab9;}
.color3 {color: #6ec1dd;}
.color4 {color: #b6edeb;}
.color5 {color: #f0efed;} */

body {
  /*font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;*/
  margin: 2em;
  font-family: "Space Mono", monospace;
  background-color: #b6edeb;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h2 {
  margin-top: 2em;
  color: #1769a2
}

.question {
  display: flex;
  margin-top: 2em;
}

.answer-choice img {
  height: 10em;
  min-width: 8em;
  max-width: 15em;
  border-radius: 15px;
  margin-left: 3em;
}

.question {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: none;
  color:#1769a2;
  border-radius: 15px;
  height: 2em;
  margin-bottom: 2em;
  margin-left: 5em;
}